auth,authpriv.*                 @{{ ip }}:514;elk
*.*;auth,authpriv.none          @{{ ip }}:514;elk
cron.*                          @{{ ip }}:514;elk
daemon.*                        @{{ ip }}:514;elk
kern.*                          @{{ ip }}:514;elk
lpr.*                           @{{ ip }}:514;elk
mail.*                          @{{ ip }}:514;elk
user.*                          @{{ ip }}:514;elk